body{
    background-color: #ABEDC6;
    font-family: "Fira Code";
}

.title{
    text-align: center;
    font-size: 48px;
}

.main{
    margin: auto;
    width: 700px;
}
.answers{
    display: flex;
    margin:auto;
    width: 700px;
    text-align: center;
    justify-content: center;
}

.timer{
    font-size: 22px;
}

.answer{
    padding: 5px 10px;
    border: 3px solid orange;
    margin: 20px;
}

#start{
    width: 100px;
    margin: auto;
    margin-top: 50px;
}

.question{
    text-align: center;
}